<style>
    body {
        font-family: Arial, sans-serif;
        background-color: #f2f2f2;
    }

    .container {
        max-width: 500px;
        margin: 20px auto;
        background-color: #ffffff;
        border-radius: 8px;
        overflow: hidden;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    .header {
        padding: 20px;
        border-bottom: 1px solid #ddd;
        text-align: center;
        font-size: 20px;
    }

    .messages {
        padding: 20px;
        overflow-y: auto;
        max-height: 300px;
    }

    .message {
        background-color: #fff;
        padding: 10px;
        margin: 10px;
        border-radius: 20px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    }

        .message.sent {
            background-color: #00bfff;
            color: #fff;
            margin-left: auto;
        }

        .message.received {
            background-color: #f2f2f2;
            color: #333;
            margin-right: auto;
        }

    .input-area {
        display: flex;
        align-items: center;
        padding: 10px;
        border-top: 1px solid #ddd;
    }

    #userInput,
    #messageInput {
        flex-grow: 1;
        padding: 10px;
        margin-right: 10px;
        border-radius: 20px;
        border: 1px solid #ddd;
        outline: none;
    }

    #sendButton {
        background-color: #4caf50;
        color: white;
        border: none;
        padding: 10px 20px;
        border-radius: 4px;
        cursor: pointer;
    }

        #sendButton:hover {
            background-color: #45a049;
        }
</style>

<div class="container">
    <div class="header">Chat</div>
    <div class="messages" id="messagesList"></div>
    <div class="input-area">
        <input type="text" id="userInput" placeholder="Name" />
        <input type="text" id="messageInput" placeholder="Message" />
        <input type="button" id="sendButton" value="Send" />
    </div>
</div>

<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/chat.js"></script>
