@{
    ViewData["Title"] = "Home";
}

<style>
    /* Custom CSS for home page */
    .hero-section {
        background-color: #f8f8f8;
        padding: 2rem;
        text-align: center;
    }

        .hero-section h1 {
            font-size: 2.5rem;
            color: #e74c3c;
            margin-bottom: 1rem;
        }

        .hero-section p {
            font-size: 1.2rem;
            color: #000;
            margin-bottom: 1rem;
        }

        .hero-section .highlight {
            font-weight: bold;
            color: #e74c3c;
        }

        .hero-section .cta-button {
            display: inline-block;
            background-color: #e74c3c;
            color: #fff;
            padding: 10px 20px;
            border-radius: 4px;
            text-decoration: none;
            transition: background-color 0.3s;
        }

            .hero-section .cta-button:hover {
                background-color: #c0392b;
            }

        .hero-section .image-container {
            text-align: left;
            margin-bottom: 1rem;
        }

        .hero-section img {
            max-width: 70%;
            margin-left: 15%;
        }
</style>

<div class="hero-section">
    <div class="image-container">
        <img src="https://images.saymedia-content.com/.image/t_share/MTc0NDY0MTc4ODc3MTEzOTkw/popular-romantic-korean-dramas-you-must-watch.jpg" alt="Image Description">
    </div>
    <h1>Welcome to Hana</h1>
    <p>A place where you will meet your new friends or potential partner while exchanging languages.</p>
    
    <a class="cta-button" asp-area="Identity" asp-page="/Account/Register">Vamos signing up ahora! 😉 </a>
</div>
