@* <form action="/api/UserProfile/saveUserProfile" method="post">
    <label for="name">Name:</label>
    <input type="text" id="name" name="Name" />

    <label for="age">Age:</label>
    <input type="number" id="age" name="Age" />

    <label for="instagram">Instagram Account:</label>
    <input type="text" id="instagram" name="InstagramAccount" />

    <button type="submit">Save</button>
</form>
 *@